<section class="card-1" alt="cards">
    <div style="margin-left: 610px; width: 450px; height: 250px;; width:400px;height:600px;border:1px solid #000;border-radius: 35px; border-style: solid; background-color:khaki;"><div class="pic-text" style="font-size: 31px;"> 
    <h1>NAME</h1>
    <h4>JAX BECKETT</h4>
    <h1>AGE</h1>
    <h4>21</h4>
    <h1>CITY</h1>
    <h4>WINDSOR ONT.</h4>
    <h1>SKILLS</h1>
    <h4>PHOTOGRAPHY</h4>
    <h4>LOGO DESIGN</h4>
    <h4>ANIMATION</h4>
    <h4>LAYOUT</h4>
    </div>
    </div>
    
    <div class="card-2" alt="cards-2" style="position:relative; margin-left: 250px; width: 450px; height: 250px;; width:400px;height:600px;border:1px solid #000;border-radius: 35px;">
    </div></section>